# Queries: Sakila (Core)
- Steve Phillips
- December 16, 2022

## ERD Entity Relationship Diagram

![png](https://s3.amazonaws.com/General_V88/boomyeah/company_209/chapter_3569/handouts/chapter3569_5431_sakila-db-model.png)

## Connect to Database

In [1]:
# imports
import pandas as pd
from sqlalchemy import create_engine

In [2]:
import pymysql
pymysql.install_as_MySQLdb()

In [3]:
# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
username = "root"
password = "root" # (or whatever password you chose during mysql installation)
db_name = "sakila"
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"

In [4]:
engine = create_engine(connection)

In [5]:
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

## Queries

1. What query would you run to get all the customers inside city_id = 312? Your query should return the customers' first name, last name, email, address, and city.

In [6]:
# Write your SQL query in this string
sql_1 = """
SELECT customer.first_name, customer.last_name, customer.email
FROM customer
INNER JOIN city
ON customer.customer_id = city.city_id
WHERE city.city_id = 312
"""
# Read the sql query into pandas to view the results
pd.read_sql_query(sql_1, engine)

  first_name last_name                             email
0       MARK  RINEHART  MARK.RINEHART@sakilacustomer.org

2. What query would you run to get all comedy films? Note that the genre is called the category in this schema. Your query should return film title, description, release year, rating, and special features.

In [14]:
# Write your SQL query in this string
sql_2 = """
SELECT f.title, f.description, f.release_year,f.rating, f.special_features
FROM film AS f
JOIN category AS ca
WHERE ca.name = 'comedy';
"""
# Read the sql query into pandas to view the results
pd.read_sql_query(sql_2, engine)

,title,description,release_year,rating,special_features
0,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,PG,"Deleted Scenes,Behind the Scenes"
1,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,G,"Trailers,Deleted Scenes"
2,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,NC-17,"Trailers,Deleted Scenes"
3,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,G,"Commentaries,Behind the Scenes"
4,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
...,...,...,...,...,...
995,YOUNG LANGUAGE,A Unbelieveable Yarn of a Boat And a Database ...,2006,G,"Trailers,Behind the Scenes"
996,YOUTH KICK,A Touching Drama of a Teacher And a Cat who mu...,2006,NC-17,"Trailers,Behind the Scenes"
997,ZHIVAGO CORE,A Fateful Yarn of a Composer And a Man who mus...,2006,NC-17,Deleted Scenes
998,ZOOLANDER FICTION,A Fateful Reflection of a Waitress And a Boat ...,2006,R,"Trailers,Deleted Scenes"
999,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,2006,NC-17,"Trailers,Commentaries,Behind the Scenes"

3. What query would you run to get all the films that Johnny Lollobrigida was in? Your query should return the actor's last name, film title, and release year.

In [9]:
# Write your SQL query in this string
sql_3 = """
SELECT actor.last_name, film.title, film.release_year
FROM film
JOIN actor
ON film.film_id = actor.actor_id
WHERE actor.last_name = 'Lollobrigida' AND actor.first_name = 'Johnny';
"""
# Read the sql query into pandas to view the results
pd.read_sql_query(sql_3, engine)

      last_name        title  release_year
0  LOLLOBRIGIDA  AFRICAN EGG          2006

4. What query would you run to get the first and last names of all the actors in the movie titled "Bingo Talented"?

In [11]:
# Write your SQL query in this string
sql_4 = """
SELECT actor.first_name, actor.last_name
FROM film
JOIN actor
ON film.film_id = actor.actor_id
WHERE film.title = 'Bingo Talented';
"""
# Read the sql query into pandas to view the results
pd.read_sql_query(sql_4, engine)

  first_name last_name
0       GARY      PENN

5. What query would you run to get the customer_id associated with all payments greater than twice the average payment amount? (HINT: use 2* in your query to get twice the amount). Your result should include the customer id and the amount.

In [15]:
# Write your SQL query in this string
sql_5 = """
SELECT customer.customer_id
FROM customer
JOIN payment
ON customer.customer_id = payment.customer_id
WHERE payment.payment > (2*)(AVG)payment.payment
"""
# Read the sql query into pandas to view the results
pd.read_sql_query(sql_5, engine)

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ')(AVG)payment.payment' at line 5")
[SQL:
SELECT customer.customer_id
FROM customer
JOIN payment
ON customer.customer_id = payment.customer_id
WHERE payment.payment > (2*)(AVG)payment.payment
]
(Background on this error at: https://sqlalche.me/e/14/f405)

6. What query would you run to list the first and last names of the 5 customers who have the highest number(count) of payments? You can title the number of payments as num_payments.

In [12]:
# Write your SQL query in this string
sql_6 = """
SELECT customer.first_name, customer.last_name, COUNT(payment.amount)
FROM customer
JOIN payment
ON customer.customer_id = payment.customer_id
GROUP BY customer_id DESC
LIMIT 5;
"""
# Read the sql query into pandas to view the results
pd.read_sql_query(sql_6, engine)

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'DESC\nLIMIT 5' at line 5")
[SQL:
SELECT customer.first_name, customer.last_name, COUNT(payment.amount)
FROM customer
JOIN payment
ON customer.customer_id = payment.customer_id
GROUP BY customer_id DESC
LIMIT 5;
]
(Background on this error at: https://sqlalche.me/e/14/f405)